<div class="about">
  <div class="about__history">
    <h1 class="heading">{{'workWithMPWR.heading' | translate}}
    <span>{{'workWithMPWR.subHeading' | translate}}</span></h1>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8"></div>
    </div>
  </div>
  <div class="about__vision"></div>
  <div class="about__team">
    <div class="row">
      
    </div>
  </div>
</div>
