@import '~src/styles/variables';


.header{
  background-color: $color-bg-dark;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.btn-lang{
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  font-size: $font-size-sm;
  font-weight: $font-weight-semi-bold;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  background-color: transparent;
  border-color: $color-light;
  color: $color-light;
  &:hover,
  &:focus,
  &:active {
    color: $color-light;
  }
}

