<header class="header">
  <div class="container-md">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="assets/images/kog_logo_flat.png" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.kognitivemarketing.com/">Who We Are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.kognitivemarketing.com/career/">Join Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://www.kognitivemarketing.com/contact/">Contact Us</a>
          </li>
        </ul>
      </div>
      <button class="btn-lang" (click)="changeLang()">{{language}}</button>
    </nav>
  </div>
</header>
