
@import "variables";

html {
  font-size: $base-font-size;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: $default-font-size;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $color-light-gray !important;
  -webkit-print-color-adjust: exact !important;
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
  color: $default-font-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
.btn-red{
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  font-size: $font-size-sm;
  font-weight: $font-weight-semi-bold;
  padding: #{$spacing-xs + $spacing-xxs} $spacing-lg;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  color: $color-light;
  background-color: $color-text-red;
  &:hover,
  &:focus,
  &:active {
    color: $color-light;
  }
}
.-text-align-center {
  text-align: center;
}
.heading{
  margin: 70px 0;
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
  span{
    color: $color-text-red;
  }
}
