// NOTE: 10px = 1rem
$font-family-sans-serif: 'rawline', sans-serif;

//color-primary COLORS
$color-light: #FFFFFF;
$color-dark: #000000;
$color-text-dark: #202040;
$color-text-light: #79798C;
$color-text-red: #CB3530;
$color-light-gray: #F2F2F2;
$color-bg-dark: #303030;
$color-text-black: #4D4D66;

//SPACING
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

// LINE HEIGHT
$line-height-xxl: 2;
$line-height-xl: 1.8;
$line-height-lg: 1.6;
$line-height-md: 1.4;
$line-height: 1.5;
$line-height-sm: 1.3;
$line-height-xs: 1.2;
$line-height-trim: 1;

// FONT WEIGHT
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 900;

// FONT SIZE
//$font-size-xxxl: 4.2rem;
//$font-size-xxl: 3.2rem;
$font-size-xl: 3.6rem;
$font-size-lg: 2.4rem;
$font-size-md: 1.8rem;
$font-size-sm: 1.6rem;
$font-size-xs: 1.4rem;
$font-size-xxs: 1.2rem;


$font-size-20: 1.2rem;
$font-size-30: 1.6rem;
$font-size-40: 2rem;
$font-size-50: 2.4rem;
$font-size-60: 3rem;

//border-radius

$border-radius-large: 4px;
$border-radius-small: 2px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xxs: 0,
  xs: 400,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1500px,
  xxl: 1800px
) !default;

// Image Path
$img-path: "~/assets/images";

// Max Z-index
$max-z-index: 40;

//Default

$base-font-size: 10px;
$default-font-color: $color-text-dark;
$default-font-size: $font-size-sm;
$default-line-height: $line-height-md;
$default-font-weight: $font-weight-normal;
$default-font-family: $font-family-sans-serif;
$input-border-radius: $border-radius-large;
$input-default-height: $spacing-xl;
$section-spacing: $spacing-lg;
$default-body-color: $color-light-gray;
