@import '~src/styles/variables';

.footer{
  background-color: $color-bg-dark;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  &__div{
    display: flex;
    justify-content: center;
  }

}
