<footer class="footer">
  <div class="container-md  ">
    <div class="footer__div">
      <button aria-label="begin application" class="btn-red" [innerHTML]="'button.beginApplication' | translate"></button>
    </div>
  </div>
</footer>
