<div class="works-with">
  <h1 class="heading">{{'workWithMPWR.heading' | translate}}
    <span>{{'workWithMPWR.subHeading' | translate}}</span></h1>
  <div class="works-with__content row">
    <div class="works-with__image col-md-5">
      <img src="assets/images/img-flexibleLocation.png">
    </div>
    <div class="works-with__text col-md-6">
      <h2 class="mb-3">{{'workWithMPWR.flexibilityHead' | translate}}</h2>
      <p>{{'workWithMPWR.flexibilitySubhead' | translate}}</p>
    </div>
  </div>
  <div class="works-with__content row">
    <div class="works-with__text col-md-6">
      <h2 class="mb-3">{{'workWithMPWR.planWorksHead' | translate}}</h2>
      <p>{{'workWithMPWR.planWorksSubhead' | translate}}</p>
    </div>
    <div class="works-with__image col-md-5">
      <img src="assets/images/img-yourOwnTime.png">
    </div>
  </div>
  <div class="works-with__content row">
    <div class="works-with__image col-md-5">
      <img src="assets/images/img-goodPay.png">
    </div>
    <div class="works-with__text col-md-6">
      <h2 class="mb-3">{{'workWithMPWR.payHead' | translate}}</h2>
      <p>{{'workWithMPWR.paySubhead' | translate}}</p>
    </div>
  </div>
  <div class="works-with__content row">
    <div class="works-with__text col-md-6">
      <h2 class="mb-3">{{'workWithMPWR.notAloneHead' | translate}}</h2>
      <p>{{'workWithMPWR.notAloneSubhead' | translate}}</p>
    </div>
    <div class="works-with__image col-md-5">
      <img src="assets/images/img-notAlone.png">
    </div>
  </div>
  <div class="works-with__content row">
    <div class="works-with__image col-md-5">
      <img src="assets/images/img-success.png">
    </div>
    <div class="works-with__text col-md-6">
      <h2 class="mb-3">{{'workWithMPWR.successHead' | translate}}</h2>
      <p>{{'workWithMPWR.successSubhead' | translate}}</p>
    </div>
  </div>
  <div class="works-with__video">
    <h1 class="heading">{{'workWithMPWR.videoHead' | translate}}<br/>
      <span>{{'workWithMPWR.videoSubhead' | translate}}</span></h1>
    <div class="video_container"></div>
  </div>
</div>
