@import '~src/styles/variables';

.works-with{
  &__content{
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__image{
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
  &__text{
    h2{
      font-size: $font-size-xl;
      font-weight: $font-weight-normal;
      color: $color-text-dark;
    }
    p{
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
      color: $color-text-dark;
    }
  }
  &__video{
    padding-bottom: 280px;
    .video_container {
      width: 100%;
      height: 300px;
      background-color: $color-text-dark;
    }
  }
}
