@import '~src/styles/variables';

.company{
  margin: 80px 0;
  &__job-title{
    background-color: $color-light;
    padding: 20px 0;
  }
  &__div{
    .nav-tabs{
      padding: 10px 0;
      border: none;
      justify-content: center;
    }
    .nav-link {
      font-size: $font-size-xs;
      color: $color-text-black;
      &:hover {
        border-color: $color-light;
      }
      &.active{
        border: 1px solid $color-text-red;
        color: $color-text-red;
        font-weight: $font-weight-semi-bold;
        border-radius: 8px;
      }
    }
  }
}
