<div class="company">
  <div class="company__job-title">
    <div class="container-md">
      Title Sections
    </div>
  </div>
  <div class="company__div">
    <div class="container-md">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink [innerHTML]="'companyInfo.workWithMPWR' |translate"></a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="workWithMPWR"></ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink [innerHTML]="'companyInfo.aboutCompany' |translate"></a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="aboutCompany"></ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink [innerHTML]="'companyInfo.FAQ' |translate"></a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="faq"></ng-container>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <ng-template #workWithMPWR>
        <app-work-with-mpwr></app-work-with-mpwr>
      </ng-template>
      <ng-template #aboutCompany>
        <app-about-company></app-about-company>
      </ng-template>
      <ng-template #faq>
        <app-faq></app-faq>
      </ng-template>
    </div>
  </div>
</div>
